
<div class="container"><svg width="400" height="500">
<circle cx="55" cy="55" r="45" fill="yellow" />
<ellipse cx="30" cy="35" rx="5" ry="5" fill="black" />
<polygon fill="orange" stroke="green" stroke-width="1"
    points="42,60
            52,40
            62,60" />
<ellipse cx="75" cy="35" rx="5" ry="5" fill="black" />
<ellipse cx="55" cy="77" rx="25" ry="4" fill="red"></ellipse>

<rect class="teeth"  x="45" y="73" width="8" height="8" fill="white"></rect>
<rect class="teeth"  x="55" y="73" width="8" height="8" fill="white"></rect>


<rect x="45" y="99" width="20" height="30" fill="yellow"></rect>
<circle cx="55" cy="183" r="55" fill="yellow" />
<rect x="25" y="230" width="20" height="90" fill="yellow"></rect>
<rect x="65" y="230" width="20" height="90" fill="yellow"></rect>



</svg>
</div>