

<div class="stats_bar">
        <div class="butpro butstyle">
          <div class="sub"><h2>Sales</h2><span>$951,611</span></div>
         
        </div>
        <div class="butpro butstyle">
          <div class="sub"><h2>VISITS</h2><span>125</span></div>
          
        </div>  
        <div class="butpro butstyle">
          <div class="sub"><h2>NEW USERS</h2><span>18</span></div>
          
        </div>  
        <div class="butpro butstyle">
          <div class="sub"><h2>AVERAGE</h2><span>3%</span></div>
          
        </div>
        <div class="butpro butstyle">
          <div class="sub"><h2>Downloads</h2><span>184</span></div>
          
      </div>

      <div class="row marrow">
        <div class="col-md-5 col-sm-5 colgap">
          <img src="images/saless.png"  class="img-responsive">

        </div>
         
        <div class="col-md-5 col-sm-5 colgap">
           <img src="images/monitor.png"  class="img-responsive">
        </div>

      </div>

       <div class="row marrow">
        <div class="col-md-5 col-sm-5 colgap">
          <img src="images/invoice.png" class="img-responsive">

        </div>
         
        <div class="col-md-5 col-sm-5 colgap">
           <img src="images/month.png" class="img-responsive">
        </div>

      </div>

